<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>02_phanvanhiep_pro_manageuser</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>manageuser.controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>manageuser.controllers.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listUser</servlet-name>
    <servlet-class>manageuser.controllers.ListUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listUser</servlet-name>
    <url-pattern>/listUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showUser</servlet-name>
    <servlet-class>manageuser.controllers.ShowUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showUser</servlet-name>
    <url-pattern>/showUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>systemError</servlet-name>
    <servlet-class>manageuser.controllers.SystemErrorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>systemError</servlet-name>
    <url-pattern>/systemError.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.do</welcome-file>
  </welcome-file-list>
   <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
</web-app>